@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <Navigation />
    <RadzenBody>
        <div style="padding:0; margin: 0; height: 92vh;">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>